{% extends 'index.html' %}

{% block title %} - 计划列表 {% endblock title %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url_for('plan.static', filename='css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block main_content %}
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3  d-flex justify-content-center justify-content-center">
        <div class="card mb-3 flex-fill">
          <div class="card-body d-flex justify-content-center">
            <button type="button" class="btn btn-primary align-self-center" data-toggle="modal" data-target="#staticBackdrop">
              新建计划列表
            </button>
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新建计划列表</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form class="pt-3 w-100 " method="post" action="{{ url_for('plan.add_list') }}">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="title">主题</label>
                        <input type="text" class="form-control form-control-lg" id="title" placeholder="主题" name="title"
                          required="required">
                      </div>
                      <div class="form-group">
                        <label for="description">描述</label>
                        <textarea type="text" class="form-control form-control-lg" style="height: 100px;resize: none;"
                          id="description" placeholder="描述" name="description" required="required"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="startTime">起始时间</label>
                        <input type="text" class="form-control form-control-lg" id="startTime" placeholder="XXXX-XX-XX"
                          name="startTime" required="required">
                      </div>
                      <div class="form-group">
                        <label for="deadLineTime">结束时间</label>
                        <input type="text" class="form-control form-control-lg" id="deadLineTime"
                          placeholder="XXXX-XX-XX" name="deadLineTime" required="required">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input class="btn btn-primary font-weight-medium" type="submit" value="提交">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for planList in planLists %}
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <h5 class="card-header font-weight-bold"><a href="{{ url_for('plan.sel_plans', planList_id=planList.id) }}" class="card-link mr-auto">{{ planList.title }}</a></h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ planList.startTime.strftime("%Y-%m-%d")+" ~ "+planList.deadLineTime.strftime("%Y-%m-%d") }}</h6>
            <p class="card-text overflow-auto" style="height: 100px;">{{ planList.description }}</p>
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateBackdrop{{ planList.id }}">
              编辑
            </button>
            <div class="modal fade" id="updateBackdrop{{ planList.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
              aria-labelledby="updateBackdropLabel{{ planList.id }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateBackdropLabel{{ planList.id }}">编辑</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form class="pt-3 w-100 " method="post"
                    action="{{ url_for('plan.update_list', planList_id=planList.id) }}">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="title">主题</label>
                        <input type="text" class="form-control form-control-lg" id="title" placeholder="主题" name="title"
                          required="required" value="{{ planList.title }}">
                      </div>
                      <div class="form-group">
                        <label for="description">描述</label>
                        <textarea type="text" class="form-control form-control-lg" style="height: 100px;resize: none;"
                          id="description" placeholder="描述" name="description"
                          required="required">{{ planList.description }}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="startTime">起始时间</label>
                        <input type="text" class="form-control form-control-lg" id="startTime{{ planList.id }}" placeholder="XXXX-XX-XX"
                          name="startTime" required="required" value="{{ planList.startTime }}">
                      </div>
                      <div class="form-group">
                        <label for="deadLineTime">结束时间</label>
                        <input type="text" class="form-control form-control-lg" id="deadLineTime{{ planList.id }}"
                          placeholder="XXXX-XX-XX" name="deadLineTime" required="required"
                          value="{{ planList.deadLineTime }}">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input class="btn btn-primary font-weight-medium" type="submit" value="提交">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBackdrop{{ planList.id }}">
              删除
            </button>
            <div class="modal fade" id="deleteBackdrop{{ planList.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
              aria-labelledby="deleteBackdropLabel{{ planList.id }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteBackdroppLabel{{ planList.id }}">删除</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form class="pt-3 w-100 " method="post"
                    action="{{ url_for('plan.del_list', planList_id=planList.id) }}">
                    <div class="modal-body">
                      <div class="form-group">
                        <p>您确定要删除计划列表<label class="font-weight-bold">“{{ planList.title }}”</label>么?</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input class="btn btn-primary font-weight-medium" type="submit" value="确定">
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



<div class="container fixed-bottom">
  <div class="row d-flex justify-content-center">
  <nav aria-label="pagination">
    <ul class="pagination pagination-lg">
    {% if pagination.has_prev %}
    <li class="page-item"><a href="{{ url_for('plan.index') }}?page={{ pagination.prev_num }}" class="page-link">上一页</a>
    </li>
    {% else %}
    <li class="page-item disabled"><a href="#" class="page-link">上一页</a>
    </li>
    {% endif %}
    

      {% for page in pagination.iter_pages() %}
      {% if page %}
      {% if page != pagination.page %}
      <li class="page-item">
        <a href="{{ url_for('plan.index') }}?page={{ page }}" class="page-link" aria-label="Page 1"
          aria-current="page">{{ page }}</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
      </li>
      {% endif %}
      {% else %}
      <span class="pagination-ellipsis">&hellip;</span>
      {% endif %}
      {% endfor %}

      {% if pagination.has_next %}
    <li class="page-item"><a href="{{ url_for('plan.index') }}?page={{ pagination.next_num }}" class="page-link">下一页</a>
    </li>
    {% else %}
    <li class="page-item disabled"><a href="#" class="page-link">下一页</a>
    </li>
    {% endif %}

    </ul>
  </nav>
  </div>
  <div class="row d-flex justify-content-center">
    <p class="text-white">小朱 2024.05</p>
  </div>
  </div>


{% endblock %}

{% block extra_script %}
<script src="{{ url_for('plan.static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('plan.static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript">
  $(function () {
    $('#startTime').datetimepicker({
      format: 'YYYY-MM-DD',
    });
  });
  $(function () {
    $('#deadLineTime').datetimepicker({
      format: 'YYYY-MM-DD',
      MinDate: $('#startTime').datetimepicker.Value
    });
  });

  $("input[id^='startTime']").each(function () {
    $(this).datetimepicker({format: 'YYYY-MM-DD',});
})
$("input[id^='deadLineTime']").each(function () {
    $(this).datetimepicker({format: 'YYYY-MM-DD',});
})
  
</script>
{% endblock %}